{% load static %}
<div class="ombre fixed-top">
    <div class="container d-flex justify-content-between">
        <a class="navbar-brand" href="#">
            <img src="{% static 'img/logo.png' %}" alt="Logo" width="139" height="98">
        </a>
        <div class="flex-grow-1 align-self-center">ouste-covid.gouv.fr</div>
        <form class="d-flex input-group align-self-center">
            <input type="text" class="form-control" placeholder="Rechercher un centre de vaccination"
                aria-label="localisation" aria-describedby="button-addon2">
            <button class="btn btn-outline-secondary" type="button" id="button-addon2">Button</button>
        </form>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>

    <nav class="container  navbar navbar-expand-lg bg-white">

        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Actualité</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Vaccination</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Campagne</a>
                </li>
            </ul>
        </div>

    </nav>
</div>

<div class="spacer"></div>